<div class="colored-container">
  <h3>AIGAR-Lecturas</h3>

  <p>
    AIGAR-Lecturas es una aplicación móvil que permite al personal de las Juntas
    de Agua realizar la lectura de los medidores/contadores instalados en las
    viviendas en el orden que la persona fontanera realiza la toma de lecturas.
  </p>

  <ul>
    <li>
      <strong>Conexión al sistema AIGAR-Escritorio:</strong> Importa el listado
      de socios/as y exporta el registro de lecturas, facilitando la
      actualización de los datos y asegurando una administración rápida y
      organizada.
    </li>
    <li>
      <strong>Acceso rápido:</strong> Permite la búsqueda de socios/as tanto por
      nombre como por número de medidor.
    </li>
    <li>
      <strong>Toma de lecturas ágil y rápida:</strong> Registro de lecturas por
      orden de recorrido y por sector o comunidad, optimizando el tiempo de la
      toma de lecturas en campo.
    </li>
    <li>
      <strong>Cálculo automático del consumo y tarifa:</strong> Cuando se
      introduce la lectura anterior, se obtiene el consumo mensual y la tarifa
      aproximada, mejorando la transparencia de la Junta de Agua a sus
      asociados.
    </li>
    <li>
      <strong>Lecturas completas eliminando errores:</strong> Identifica los
      socios/as que no tienen lecturas, ayudando a la persona fontanera a
      realizar el trabajo de forma más eficiente y garantizando que no haya
      errores en la facturación.
    </li>
  </ul>
</div>

<div class="colored-container">
  <h3>AIGAR-Escritorio</h3>

  <p>
    AIGAR-Escritorio es una aplicación de escritorio que permite a las Juntas de
    Agua la gestión administrativa del sistema.
  </p>

  <ul>
    <li>
      <strong>Adaptable a cualquier Sistema de Agua:</strong> La aplicación se
      configura fácilmente con los datos de cada sistema como tarifas fijas y
      variables, permitiendo que cualquier Junta de Agua pueda usarlo según sus
      características y necesidades.
    </li>
    <li>
      <strong>Facturación sencilla:</strong> Genera recibos de forma automática
      a través de un proceso fácil paso a paso, reduciendo errores y ahorrando
      tiempo en la administración.
    </li>
    <li>
      <strong>Conexión al sistema AIGAR-Lecturas:</strong> Importa las lecturas
      realizadas en campo y exporta el listado de socios, facilitando la
      actualización de los datos de forma rápida y organizada.
    </li>
    <li>
      <strong>Actualización de lecturas del contador:</strong> Proceso de
      importación de lecturas en la que se incorporan los datos recopilados con
      la app AIGAR-Lecturas, asegurando la actualización de los datos y evitando
      errores en la facturación.
    </li>
    <li>
      <strong>Actualización flexible de pagos:</strong> Incorpora los pagos de
      los socios/as realizados en los bancos o en la propia oficina del SAPS ya
      sea en formato digital proporcionado por el banco o de forma manual.
    </li>
    <li>
      <strong>Control financiero:</strong> Consulta en un solo lugar los pagos y
      la morosidad mensual, mejorando el estado financiero de la Junta de Agua
      ya que permite identificar a las personas socias con más de tres meses de
      mora.
    </li>
    <li>
      <strong>Gestión eficiente del catastro de socios/as:</strong> Registro de
      todas las personas socias tanto activas como inactivas, accediendo
      rápidamente al historial de pagos de cada una. También permite incorporar
      nuevos/as socios/as incorporándolos a una única base de datos.
    </li>
    <li>
      <strong>Análisis visual para mejores decisiones:</strong> Consulta
      gráficos y el historial de consumo, facturación y morosidad para tomar
      mejores decisiones en la administración del sistema.
    </li>
  </ul>
</div>
