<div class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-text">
    <h1>Gestionando el Agua en las Comunidades</h1>
    <p>
      AIGAR impulsa la transformación de los Sistemas de Agua Potable y
      Saneamiento (SAPS) a través de soluciones innovadoras. Ayuda a las Juntas
      de Agua de los SAPS en sus procesos administrativos, operativos y
      financieros para hacerlos más eficientes, sostenibles y transparentes,
      fortaleciendo así su capacidad de rendición de cuentas.
    </p>
  </div>
</div>
