{{ text_media_layout( "
<p>
  La Aplicación Innovadora para la Gestión del Agua Rural (AIGAR) es una
  herramienta diseñada a medida para mejorar la competencia administrativa y
  organizativa de las entidades de gestión de los Sistemas de Agua Rurales. Está
  compuesta por dos aplicaciones:
</p>

<ol>
  <li>
    <strong>AIGAR-Lecturas</strong>: Aplicación móvil que permite la recolección
    de los datos de consumo de agua de los socios y socias del sistema de agua.
  </li>
  <li>
    <strong>AIGAR-Escritorio</strong>: Aplicación web que permite la gestión
    administrativa del sistema de agua. Incluye la gestión del catastro de
    personas socias del sistema y todo el proceso de facturación.
  </li>
</ol>
", "https://www.youtube.com/embed/F3GUaEo42tA?si=O1UKslM2rAe_zEXb", "Video de
AIGAR", "video" ) }}

<div class="intro__button--container">
  <a href="downloads" class="md-button md-button--primary">Descargar</a>
</div>
