{{ text_media_layout( "
<p>
  En 2025 encontramos 7 sistemas de agua en El Salvador que usan la aplicación
  AIGAR para la gestión administrativa de sus sistemas:
</p>
<ol>
  <li>
    <strong>ASCATLI.</strong> Asociación Comunal de agua potable de las
    comunidades Tihuapa Norte y Tlacuxtli.
  </li>
  <li>
    <strong>JASACT.</strong> Junta Administradora del Sistema de Agua Canton
    Tepeagua.
  </li>
  <li>
    <strong>ARA-Cangrejera.</strong> Asociación Comunal de Agua Potable de
    Sistema Múltiples del Desvío de Amayo Canton Cangrejera Puerto de la
    Libertad.
  </li>
  <li>
    <strong>ASCOBAPCO.</strong> Asociación Comunal de Agua Potable de las
    Comunidades Brisas del mar 1 y 2, La Posada y El Cooplanar.
  </li>
  <li>
    <strong>AGUAMAR.</strong> Asociación Comunitaria de Agua Potable de la
    Comunidad Maria Auxiliadora.
  </li>
  <li><strong>Nuevo Oasis.</strong></li>
  <li>
    <strong>AGUASD.</strong> Asociación Comunal de Agua Potable Cantón San
    Diego.
  </li>
</ol>
", "assets/images/Foto_2_a.png", "Video de AIGAR") }}
