.funders,
.partners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  margin-top: 1rem;
}

.funders__item a,
.partners__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}

.funders__logo,
.partners__logo {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .funders,
  .partners {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6rem;
  }

  .funders__item a,
  .partners__item a {
    height: 160px;
  }
}
