/* Keep main page title in header */
/* .md-header__ellipsis .md-header__topic:first-child {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  position: static;
} */

/* @media only screen and (max-width: 768px) {
  .md-header__ellipsis .md-header__topic:first-child {
    font-size: 0.5rem;
  }
} */

/* Hide current page title in header */
.md-header__ellipsis .md-header__topic:last-child {
  display: none;
}

.md-header__button.md-logo {
  padding: 0.3rem;
}

.md-header__button.md-logo img {
  height: 3rem;
  width: auto;
}

/* Site logo in mobile navigation */
.md-nav--primary .md-nav__title .md-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
